In [1]:
# import dependencies
import pandas as pd
from sqlalchemy import create_engine

In [8]:
# read in csv files
tick_csv = "../CDC_input/Ixodes_scapulari_records.csv"
lyme_csv = "../CDC_input/LD-Case-Counts-by-County-00-18.csv"

In [20]:
# build base dataframes
tick_df = pd.read_csv(tick_csv)
lyme_df = pd.read_csv(lyme_csv, encoding='ISO-8859-1')

In [21]:
# check out of tick df
# remove data source column, info will be noted in docs, not needed for df
del tick_df["Data_Source"]
new_cols = ["fips_code","state","county","county_status"]
tick_df.columns = new_cols
tick_df.head()

   fips_code state          county county_status
0       1001    AL  Autauga County   Established
1       1003    AL  Baldwin County   Established
2       1005    AL  Barbour County   Established
3       1007    AL     Bibb County   Established
4       1009    AL   Blount County    No records

In [14]:
# check out lyme df
# change county/state column names to standardized formatting
new_cols = ["county","state","STCODE","CTYCODE","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018"]
lyme_df.columns = new_cols
lyme_df.head()

,County,State,STCODE,CTYCODE,2000,2001,2002,2003,2004,2005,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Autauga County,Alabama,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
1,Baldwin County,Alabama,1,3,1,0,1,0,0,0,...,1,0,1,1,0,3,1,2,2,0
2,Barbour County,Alabama,1,5,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,Bibb County,Alabama,1,7,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
4,Blount County,Alabama,1,9,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,2