In [1]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import time
import pandas as pd

In [3]:
# setups up chromedriver and the browser control
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
# URL of page to be scraped
url = "http://www.eregulations.com/newjersey/hunting/2018-19-deer-harvest-summaries/"

# sets browser to visit the url and then wait to ensure all of the page loads
browser.visit(url)
time.sleep(5)

# builds soup object for data scraping
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [18]:
# pulls in table from the soup object
table = soup.find_all("table", class_="New-Tables")
# converts the table into pandas dataframe
hunt_df = pd.read_html(str(table))[0]
# drops row populated by table title
hunt_df = hunt_df.drop([0])
# moves row with table headers into column headers
hunt_df.columns = hunt_df.iloc[0]
hunt_df = hunt_df.drop([1])
# drop totals row
hunt_df = hunt_df.drop([62])
# drop unneeded harvest breakdown by permit type
del hunt_df["Fall Bow"]
del hunt_df["Permit Bow"]
del hunt_df["Six-day Firearm"]
del hunt_df["Permit Muzzleloader"]
del hunt_df["Permit Shotgun"]
del hunt_df["Winter Bow"]
del hunt_df["Youth Days"]
# assign each DMZ to a county

# set DMZ as index
hunt_df

1  DMZ Total Harvest
2    1           443
3    2          1596
4    3           360
5    4           393
6    5          2444
7    6           793
8    7          1731
9    8          3088
10   9           583
11  10          2272
12  11          1520
13  12          3745
14  13          1047
15  14          2435
16  15          1722
17  16          1324
18  17          1824
19  18           446
20  19          1981
21  21           490
22  22           169
23  23           644
24  24           263
25  25          1697
26  26          1194
27  27           788
28  28          1248
29  29           809
30  30           357
31  31           424
32  34           603
33  35          1292
34  36          1028
35  37           276
36  38            44
37  39           257
38  41           955
39  42           381
40  43           252
41  45           436
42  46           361
43  47           466
44  48          1473
45  49           786
46  50          2404
47  51          1004
48  53            43
49  54            47
50  55            86
51  56            14
52  57            15
53  58            17
54  61            21
55  63           173
56  64            65
57  65           276
58  66            74
59  67           107
60  68            69
61  70             6