In [88]:
import sqlalchemy
import numpy as np
import pandas as pd
from credentials import username
from credentials import password
from  psycopg2 import connect
from decimal import Decimal
from sqlalchemy import Column, ForeignKey,Table, Integer, String, Float, Boolean, MetaData, create_engine
from sqlalchemy.orm import relationship, backref

In [89]:
rds_connection_string = f'{username}:{password}@localhost:5433/Project2'
engine = create_engine(f'postgresql://{rds_connection_string}')

In [134]:
meta = MetaData(engine)

NJ_CountyMonthly_Avg = Table('countyavg', meta, 
    Column('id', Integer, primary_key = True), 
    Column('Year', Integer), 
    Column('County', String),
    Column('Jan', Float),
    Column('Feb', Float),
    Column('Mar', Float),
    Column('Apr', Float),
    Column('May', Float),
    Column('Jun', Float),
    Column('Jul', Float),
    Column('Aug', Float),
    Column('Sep', Float),
    Column('Oct', Float),
    Column('Nov', Float),
    Column('Dec', Float),
    
)
meta.create_all(engine)

In [148]:
meta2 = MetaData(engine)

NJ_Monthly = Table('monthlyavg', meta2, 
    Column('id', Integer, primary_key = True),  
    Column('County', String),
    Column('Jan', Float),
    Column('Feb', Float),
    Column('Mar', Float),
    Column('Apr', Float),
    Column('May', Float),
    Column('Jun', Float),
    Column('Jul', Float),
    Column('Aug', Float),
    Column('Sep', Float),
    Column('Oct', Float),
    Column('Nov', Float),
    Column('Dec', Float),
    
)
meta2.create_all(engine)

In [135]:
csv_all = 'All_Merged.csv'

df = pd.read_csv(csv_all)
del df['Unnamed: 0']

df.head()


# months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
# for m in months:
#     df[m] = df[m].apply(lambda x: str(x)[0:4])
#     pd.to_numeric(df[m], errors='coerce')
# df.to_csv('All_Merged.csv')

,Year,County,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1970,Atlantic,25.10,33.20,37.60,49.20,61.40,68.60,73.40,74.20,69.40,57.60,46.80,35.80
1,1971,Atlantic,28.40,35.00,39.30,48.20,57.60,70.00,73.10,71.70,68.30,61.30,44.60,41.40
2,1972,Atlantic,34.40,32.40,39.40,47.50,59.50,66.20,74.70,72.50,67.00,51.30,43.40,40.90
3,1973,Atlantic,34.60,33.10,46.60,51.60,58.30,71.80,74.90,75.20,67.70,57.30,47.00,38.60
4,1974,Atlantic,37.30,32.00,43.30,53.40,60.10,67.40,74.60,73.70,65.90,51.90,46.00,38.40

In [129]:
df.info()
# df['Year'].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    1050 non-null   int64
 1   County  1050 non-null   object
 2   Jan     1050 non-null   float64
 3   Feb     1050 non-null   float64
 4   Mar     1050 non-null   float64
 5   Apr     1050 non-null   float64
 6   May     1050 non-null   float64
 7   Jun     1050 non-null   float64
 8   Jul     1050 non-null   float64
 9   Aug     1050 non-null   float64
 10  Sep     1050 non-null   float64
 11  Oct     1050 non-null   float64
 12  Nov     1050 non-null   float64
 13  Dec     1050 non-null   float64
dtypes: float64(12), int64(1), object(1)
memory usage: 115.0+ KB

In [136]:
# Table CountyAvg
df.to_sql(name='countyavg', con=engine, if_exists='append', index=False)

In [149]:
csv_monthly = 'All_Merged_Monthly_Averages.csv'
df2 = pd.read_csv(csv_monthly)

# Table MonthlyAvg
df2.to_sql(name='monthlyavg', con=engine, if_exists='append', index=False)

In [31]:
#CDC_Output Folder
# 2018-19_deer_harvest.csv

csv_2018 = 'CDC_output/2018-19_deer_harvest.csv'

df3 = pd.read_csv(csv_2018)
del df3['Unnamed: 0']
df3['county']= df3['county'].astype(str)

df3.info()


meta3 = MetaData(engine)

deer_harvest = Table('deerharvest', meta3, 
    Column('id', Integer, primary_key = True), 
    Column('dmz', Integer), 
    Column('county', String),
    Column('total_harvest', Integer))
meta3.create_all(engine)

df3.to_sql(name='deerharvest', con=engine, if_exists='append', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   dmz            60 non-null     int64
 1   county         60 non-null     object
 2   total_harvest  60 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.5+ KB

In [33]:
#CDC_Output Folder
#CDC_lyme_nation_2018.csv

csv_lyme_nation = 'CDC_output/CDC_lyme_nation_2018.csv'

df4 = pd.read_csv(csv_lyme_nation)

df4.info()


meta4 = MetaData(engine)

lyme_nation = Table('lymenation', meta4, 
    Column('id', Integer, primary_key = True), 
    Column('st_cty_code', Integer), 
    Column('county', String),
    Column('state', String),
    Column('cases', Integer))
meta4.create_all(engine)

df4.to_sql(name='lymenation', con=engine, if_exists='append', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3193 entries, 0 to 3192
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   st_cty_code  3193 non-null   int64
 1   county       3193 non-null   object
 2   state        3193 non-null   object
 3   cases        3193 non-null   int64
dtypes: int64(2), object(2)
memory usage: 99.9+ KB

In [44]:
#CDC_Output Folder
#CDC_lyme_report.csv

csv_lyme_report = 'CDC_output/CDC_lyme_report.csv'

df5 = pd.read_csv(csv_lyme_report)

# df5.info()


meta5 = MetaData(engine)

lyme_report = Table('lymereport', meta5, 
    Column('id', Integer, primary_key = True), 
    Column('year', Integer), 
    Column('Atlantic County', Integer),
    Column('Bergen County', Integer),
    Column('Burlington County', Integer),
    Column('Camden County', Integer),
    Column('Cape May County', Integer),
    Column('Cumberland County', Integer),
    Column('Essex County', Integer),
    Column('Gloucester County', Integer),
    Column('Hudson County', Integer),
    Column('Hunterdon County', Integer),
    Column('Mercer County', Integer),
    Column('Middlesex County', Integer),
    Column('Monmouth County', Integer),
    Column('Morris County', Integer),
    Column('Ocean County', Integer),
    Column('Passaic County', Integer),
    Column('Salem County', Integer),
    Column('Somerset County', Integer),
    Column('Sussex County', Integer),
    Column('Union County', Integer),
    Column('Warren County', Integer))

meta5.create_all(engine)

df5.to_sql(name='lymereport', con=engine, if_exists='append', index=False)

In [49]:
#CDC_Output Folder
#CDC_tick_status.csv

csv_tick_status = 'CDC_output/CDC_tick_status.csv'

df6 = pd.read_csv(csv_tick_status)
del df6['Unnamed: 0']

df6.info()

meta6 = MetaData(engine)

tick_status = Table('tickstatus', meta6, 
    Column('id', Integer, primary_key = True), 
    Column('fips_code', Integer), 
    Column('state', String),
    Column('county', String),
    Column('county_status', String))

meta6.create_all(engine)

df6.to_sql(name='tickstatus', con=engine, if_exists='append', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3109 entries, 0 to 3108
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fips_code      3109 non-null   int64
 1   state          3109 non-null   object
 2   county         3109 non-null   object
 3   county_status  3108 non-null   object
dtypes: int64(1), object(3)
memory usage: 97.3+ KB

In [52]:
#CDC_Output Folder
#formatted_lyme_report.csv

csv_formatted_lyme = 'CDC_output/formatted_lyme_report.csv'

df7 = pd.read_csv(csv_formatted_lyme)
del df7['Unnamed: 0']

df7.info()

meta7 = MetaData(engine)

lyme_formatted = Table('formattedlyme', meta7, 
    Column('id', Integer, primary_key = True), 
    Column('year', Integer), 
    Column('county', String),
    Column('cases', Integer))

meta7.create_all(engine)

df7.to_sql(name='formattedlyme', con=engine, if_exists='append', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    399 non-null    int64
 1   county  399 non-null    object
 2   cases   399 non-null    int64
dtypes: int64(2), object(1)
memory usage: 9.5+ KB

In [56]:
#summaryData Folder
#nj_capcvet.csv

csv_nj_capcvet = 'summaryData/nj_capcvet.csv'

df8 = pd.read_csv(csv_nj_capcvet)

df8.info()

meta8 = MetaData(engine)

nj_capcvet = Table('njcapcvet', meta8, 
    Column('id', Integer, primary_key = True), 
    Column('year', Integer), 
    Column('county', String),
    Column('positive_cases', Integer),
    Column('total_tested', Integer))

meta8.create_all(engine)

df8.to_sql(name='njcapcvet', con=engine, if_exists='append', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            168 non-null    int64
 1   county          168 non-null    object
 2   positive_cases  168 non-null    int64
 3   total_tested    168 non-null    int64
dtypes: int64(3), object(1)
memory usage: 5.4+ KB

In [59]:
#summaryData Folder
#nj_doh_case_status.csv

csv_nj_status = 'summaryData/nj_doh_case_status.csv'

df9 = pd.read_csv(csv_nj_status)

df9.info()

meta9 = MetaData(engine)

nj_status = Table('njstatus', meta9, 
    Column('id', Integer, primary_key = True), 
    Column('case_status', String), 
    Column('year', Integer),
    Column('reported_cases', Integer))

meta9.create_all(engine)

df9.to_sql(name='njstatus', con=engine, if_exists='append', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   case_status     23 non-null     object
 1   year            23 non-null     int64
 2   reported_cases  23 non-null     int64
dtypes: int64(2), object(1)
memory usage: 680.0+ bytes

In [69]:
# #summaryData Folder
# #nj_doh_cases_by_age_gender.csv

# csv_nj_age_gender = 'summaryData/nj_doh_cases_by_age_gender.csv'

# df10 = pd.read_csv(csv_nj_age_gender)
# # df10['age_group']= df10['age_group'].astype(str)

# df10.info()

# meta10 = MetaData(engine)

# nj_age_gender = Table('njagegender', meta10, 
#     Column('id', Integer, primary_key = True), 
#     Column('sex', String), 
#     Column('age_group', String),
#     Column('reported_cases', Integer))

# meta10.create_all(engine)

# df10.to_sql(name='njagegender', con=engine, if_exists='append', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sex             38 non-null     object
 1   age_group       38 non-null     object
 2   reported_cases  38 non-null     int64
dtypes: int64(1), object(2)
memory usage: 1.0+ KB

DataError: (psycopg2.errors.InvalidTextRepresentation) invalid input syntax for integer: "90+"
LINE 1: ... (sex, age_group, reported_cases) VALUES ('Male', '90+', 84)
                                                             ^

[SQL: INSERT INTO njagegender (sex, age_group, reported_cases) VALUES (%(sex)s, %(age_group)s, %(reported_cases)s)]
[parameters: ({'sex': 'Male', 'age_group': '0', 'reported_cases': 522}, {'sex': 'Male', 'age_group': '5', 'reported_cases': 1985}, {'sex': 'Male', 'age_group': '10', 'reported_cases': 2365}, {'sex': 'Male', 'age_group': '15', 'reported_cases': 2023}, {'sex': 'Male', 'age_group': '20', 'reported_cases': 1375}, {'sex': 'Male', 'age_group': '25', 'reported_cases': 1025}, {'sex': 'Male', 'age_group': '30', 'reported_cases': 996}, {'sex': 'Male', 'age_group': '35', 'reported_cases': 1218}  ... displaying 10 of 38 total bound parameter sets ...  {'sex': 'Female', 'age_group': '85', 'reported_cases': 269}, {'sex': 'Female', 'age_group': '90+', 'reported_cases': 109})]
(Background on this error at: http://sqlalche.me/e/9h9h)

In [71]:
#summaryData Folder
#nj_doh_cases_by_county.csv
csv_nj_cases_county = 'summaryData/nj_doh_cases_by_county.csv'

df11 = pd.read_csv(csv_nj_cases_county)
# df10['age_group']= df10['age_group'].astype(str)

df11.info()

meta11 = MetaData(engine)

nj_by_county = Table('njbycounty', meta11, 
    Column('id', Integer, primary_key = True), 
    Column('year', Integer), 
    Column('county', String),
    Column('cases_per_100k', Float),
    Column('reported_cases', Integer))

meta11.create_all(engine)

df11.to_sql(name='njbycounty', con=engine, if_exists='append', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            252 non-null    int64
 1   county          252 non-null    object
 2   cases_per_100k  252 non-null    float64
 3   reported_cases  252 non-null    int64
dtypes: float64(1), int64(2), object(1)
memory usage: 8.0+ KB

In [73]:
#summaryData Folder
#nj_doh_incident_by_county_2018.csv
csv_nj_incident_county = 'summaryData/nj_doh_incident_by_county_2018.csv'

df12 = pd.read_csv(csv_nj_incident_county)
# df10['age_group']= df10['age_group'].astype(str)

df12.info()

meta12 = MetaData(engine)

nj_by_county = Table('njincidentcounty', meta12, 
    Column('id', Integer, primary_key = True), 
    Column('county', String),
    Column('cases_per_100k', Integer),
    Column('reported_cases', Integer))

meta12.create_all(engine)

df12.to_sql(name='njincidentcounty', con=engine, if_exists='append', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   county          21 non-null     object
 1   cases_per_100k  21 non-null     int64
 2   reported_cases  21 non-null     int64
dtypes: int64(2), object(1)
memory usage: 632.0+ bytes

In [75]:
#summaryData Folder
#nj_doh_incident_rate.csv
csv_nj_incident_rate = 'summaryData/nj_doh_incident_rate.csv'

df13 = pd.read_csv(csv_nj_incident_rate)
# df10['age_group']= df10['age_group'].astype(str)

df13.info()

meta13 = MetaData(engine)

nj_njincident_rate = Table('njincidentrate', meta13, 
    Column('id', Integer, primary_key = True), 
    Column('year', Integer),
    Column('cases_per_100k', Float),
    Column('reported_cases', Integer))

meta13.create_all(engine)

df13.to_sql(name='njincidentrate', con=engine, if_exists='append', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            12 non-null     int64
 1   cases_per_100k  12 non-null     float64
 2   reported_cases  12 non-null     int64
dtypes: float64(1), int64(2)
memory usage: 416.0 bytes

In [77]:
#summaryData Folder
#nj_doh_month_of_onset.csv
csv_nj_month_onset = 'summaryData/nj_doh_month_of_onset.csv'

df14 = pd.read_csv(csv_nj_month_onset)
# df10['age_group']= df10['age_group'].astype(str)

df14.info()

meta14 = MetaData(engine)

nj_njincident_rate = Table('njmonthonset', meta14, 
    Column('id', Integer, primary_key = True), 
    Column('month', String),
    Column('reported_cases', Integer))

meta14.create_all(engine)

df14.to_sql(name='njmonthonset', con=engine, if_exists='append', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   month           12 non-null     object
 1   reported_cases  12 non-null     int64
dtypes: int64(1), object(1)
memory usage: 320.0+ bytes

In [90]:
#summaryData Folder
#summaryDeerHarvested_Season_Year.csv
csv_nj_month_onset = 'summaryData/summaryDeerHarvested_Season_Year.csv'

df15 = pd.read_csv(csv_nj_month_onset)
# df10['age_group']= df10['age_group'].astype(str)

df15.info()

meta15 = MetaData(engine)

nj_njincident_rate = Table('summarydeer', meta15, 
    Column('id', Integer, primary_key = True), 
    Column('Season', String),
    Column('Fall Bow', Integer),
    Column('Youth Hunts', Float),
    Column('Permit Bow', Float),
    Column('Six-day Firearm', Integer),
    Column('Permit Muzzleloader', Float),
    Column('Permit Shotgun', Integer),
    Column('Winter Bow', Float),
    Column('Total Harvest', Integer),
    Column('Antlered Harvest', Integer),
    Column('Antlerless Harvest', Integer))

meta15.create_all(engine)

df15.to_sql(name='summarydeer', con=engine, if_exists='append', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Season               45 non-null     object
 1   Fall Bow             45 non-null     int64
 2   Youth Hunts          17 non-null     float64
 3   Permit Bow           31 non-null     float64
 4   Six-day Firearm      45 non-null     int64
 5   Permit Muzzleloader  39 non-null     float64
 6   Permit Shotgun       45 non-null     int64
 7   Winter Bow           42 non-null     float64
 8   Total Harvest        45 non-null     int64
 9   Antlered Harvest     45 non-null     int64
 10  Antlerless Harvest   45 non-null     int64
dtypes: float64(4), int64(6), object(1)
memory usage: 4.0+ KB

In [91]:
#summaryData Folder
#tabula-NJFB-SG-State-Report_10.2019_1.csv
csv_nj_month_onset = 'summaryData/tabula-NJFB-SG-State-Report_10.2019_1.csv'

df16 = pd.read_csv(csv_nj_month_onset)
# df16['Atlantic County:']= df16['Atlantic County:'].astype(str)

df16.info()

# meta16 = MetaData(engine)

# nj_njincident_rate = Table('statereport', meta16, 
#     Column('id', Integer, primary_key = True), 
#     Column('Atlantic County', String),
#     Column('Acres', String),
#     Column('Deer Max Max SM', String),
#     Column('Deer minMin SM', String))


# meta16.create_all(engine)

# df16.to_sql(name='statereport', con=engine, if_exists='append', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Atlantic County:  32 non-null     object
 1   Acres             32 non-null     object
 2   Deer Max Max SM   32 non-null     object
 3   Deer minMin SM    32 non-null     object
dtypes: object(4)
memory usage: 1.1+ KB